### Script to download last 5 years of daily adjusted closing prices for the Standard & Poor’s 500 index from finance.yahoo.com

In [1]:
import yfinance as yf
import datetime as dt

# Define the ticker symbol for the S&P 500 index
ticker = "^GSPC"

# Get the current date
end_date = dt.datetime.now()

# Calculate the start date as exactly 5 years before the current date
start_date = end_date - dt.timedelta(days=5*365)  # Approximate

# Download the data from Yahoo Finance for the defined date range
# yf.download handles the actual available data based on market days
sp500_data = yf.download(ticker, start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'))
sp500_data.reset_index(inplace=True)

# Check the number of rows (trading days)
print(f"Number of trading days: {len(sp500_data)}")
print(f"Start Date: {(start_date.strftime('%Y-%m-%d'))} \t\t End Date: {(end_date.strftime('%Y-%m-%d'))} ")

# Display the first and last few rows of the data
sp500_data.head(5)

[*********************100%%**********************]  1 of 1 completed

Number of trading days: 1256
Start Date: 2019-08-15 		 End Date: 2024-08-13

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-08-15,2846.199951,2856.669922,2825.510010,2847.600098,2847.600098,4041720000
1,2019-08-16,2864.739990,2893.629883,2864.739990,2888.679932,2888.679932,3524080000
2,2019-08-19,2913.479980,2931.000000,2913.479980,2923.649902,2923.649902,3221050000
3,2019-08-20,2919.010010,2923.629883,2899.600098,2900.510010,2900.510010,3067710000
4,2019-08-21,2922.040039,2928.729980,2917.909912,2924.429932,2924.429932,3016540000

In [3]:
sp500_data.to_csv('Standard & Poor’s 500 index.csv')